site_name: Confident
site_url: https://limonyellow.github.io/confident/
repo_url: https://github.com/limonyellow/confident
repo_name: limonyellow/confident

theme:
  name: material
  logo: logo.svg
  favicon: logo.svg
  custom_dir: docs/theme
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Home: index.md
  - Basic Usage: usage.md
  - BaseConfig Settings: config_class.md
  - Config Maps: deployment_config.md
  - Validation: validation.md
  - Visibility: visibility.md
