[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
build = "*"
twine = "*"

[packages]
pydantic = "*"
pyyaml = "*"
python-dotenv = "*"

[requires]
python_version = "3.8,3.9,3.10"
