name: Publish Package

on:
  workflow_dispatch

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: pypi

    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Build package
      run: uv build
    - name: Publish package
      run: uv publish --trusted-publishing always
